{% extends 'base.html'%}


{% block content %}
<div class="mb-2 text-white">
        <strong>Celkový počet modelů:</strong> {{ num_objects }}
    </div>
<div class="row">

    
    
{% for object in objects %}

<!--
<div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="border-bottom: 1px solid black;">{{ object.name }}</h4>
        <p class="card-text" style="border-bottom: 1px solid black;">
          <strong>{{ object.object }}</strong>
        </p>
        {% if object.photo %}<img class="card-img-top img-fluid" src="{{ object.photo.url }}" style="border-bottom: 1px solid black;">
        {% endif %}
        {% if object.description %}
        <p class="card-text mt-1" style="border-bottom: 1px solid black;">
          <strong>{{ object.description }}</strong>
        </p> 
        {% endif %}
        <a href="#" class="mt-2 btn btn-secondary">Zobrazit objekt</a>
      </div>
    </div>
  </div>
  -->
  <div class="card" style="width: 18rem; margin: 0.6%;">
    {% if object.photo %}<img class="card-img-top img-fluid" src="{{ object.photo.url }}" alt="Card image cap">{% endif %}
    <div class="card-body">
      <h5 class="card-title" style="border-bottom: 1px solid black;">{{ object.name }}</h5>
      <h6 class="card-title" style="border-bottom: 1px solid black;">{{ object.object }}</h6>
      {% if object.description %}<p class="card-text" style="border-bottom: 1px solid black;">{{ object.description|truncatewords:15 }}</p>{% endif %}
      <a class="btn btn-primary" onclick="openPopup()">Náhled modelu</a>
    </div>
  </div>
  

  


<!-- form enctype="multipart/form-data"-->
{% endfor %}
<div class="container">
    <div class="contact-box">
      <div class="left"></div>
      <div class="right">
        <h2>Přidání objektu</h2>
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
          {{ form.as_p }}
          <input type="text" class="field" placeholder="Jméno:" name="name">
          <input type="text" class="field" placeholder="Název objektu:" name="object">
          <textarea placeholder="Popis objektu:" class="field" name="description"></textarea>
          <input placeholder="Fotka:" type="file" name="photo" accept="image/png, image/jpeg">
          <button type="submit" class="btn">Přidat</button>
        </form>
      </div>
    </div>
  </div> 
  </div>

{% endblock %}