{% extends 'base.html'%}
{% load static %}
<!--<div class="card">
      <div class="card-body">
        <h1 class="text-center">Vložení objektu</h1>
        <form action="/object/objects">
          <label for="fname">Jméno:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="fname">Název objektu:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="fname">Popis objektu:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="avatar">Vložte obrázek:</label>

          <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
          <input type="submit" value="Submit">
        </form>
      
      </div>
    </div>-->

{% block content %}


<div class="col-md-10">
  <div class="card">
    <div class="card-header">
      <h1 class="fw-bold">Form</h1>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mobile</td>
            <td>Redmi</td>
            <td>14999</td>
            <td>
              <img src="{% static 'images/shrek.jpg' %}" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
